/*
====================================================================================================================================================================
                                                    Start Contact Page
====================================================================================================================================================================
*/
h1{
    font-size: 60px;
    margin: 0 0 20px;
}
form{
    width: 50%;
    margin: auto;
    padding: 20px;
    height: 800px;
}
fieldset{
    background-color: #172035;
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 0;
    border-radius: 5px;
}
input,textarea{
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    font-size: 20px;
}
label{
    width: 100%;
    font-size: 25px;
    color: #FFF;
    padding: 10px 0;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
}
button{
    width: 50%;
    background-color: #FFF;
    padding: 10px 20px;
    border: 0;
    color: #172035;
    font-weight: 700;
    font-size: 30px;
    margin:  0 25%;
    border-radius: 5px;
}
button:hover{
    background-color: #09568D;
    color: #FFF;



/*
====================================================================================================================================================================
                                                    End Contact Page
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

 

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
