/*
====================================================================================================================================================================
                                                    Start Premium Plus Page
====================================================================================================================================================================
*/
h1{
    font-size: 60px;
}
.premium_plus_cont{
    width: 60%;
    height: 625px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
}
.premium_panel{
    width: 100%;
    /* border: 2px solid; */
    padding: 20px;
    margin: 20px;
}
.premium_cont{
    width: 100%;
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: left;
}
ul li {
    list-style: inside;
    text-align: left;
    font-size: 20px;
}
button{
    width: 100%;
    background-color: #172035;
    padding: 10px 20px;
    border: 0;
    color: #FFF;
    font-size: 30px;
}
button:hover{
    background-color: #09568D;
}


/*
====================================================================================================================================================================
                                                    End Premium Plus Page
====================================================================================================================================================================
*/




/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

 

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
